* {
        box-sizing: border-box;
}

body {
        background-color: #faeac8;
}

h1 {
        font-family: "Bangers";
}

h1, table {
        text-align: center;
}

#contact-container img {
        border-radius: 100%;
        width: 150px;
        height: 150px;
}
