body {
	background-color: #faeac8;
}

* {
        box-sizing: border-box;
}

.navbar, .dropdown-content {
        overflow: hidden;
        background-color: #f8d4b4;
        margin: 0;
        left: 0;
	position: relative;
}

.navbar a, .dropdown-content a {
	float: left;
	display: block;
	border-right: 1px solid black;
        color: black;
        text-align: center;
        text-decoration: none;
        padding: 0.75em 1.2em;
        font-family: "Lucida Console", "Courier New", monospace;
}

.dropdown-content a {
	font-size: small;
	display: none;
}

.dropdown-content {
	display: block;
	float: left;
	position: relative;
}

.navbar a:hover {
	background-color: #faeac8;
}

.dropdown-content a:hover {
	background-color: #faeac8;
}

.navbar input[type=text] {
        float: right;
        padding: 0.5em;
        margin-top: 0.5em;
        margin-right: 1.25em;
        border: none;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f8d4b4;
	color: black;
	text-align: center;
	font-family: "Lucida Console", "Courier New", monospace;
}

#text {
	padding: 5%;
	width: 80%;
	margin: auto;
	margin-top: 50px;
}

#text h1{
	font-family: "Bangers";
	font-size: 30pt;
	padding: 1px;
}

#text img{
	margin-right: 3%;
        width: 300px;
        float: left;
        clear: both;
}

#logo {
	padding: 0;
	margin: 0;
	border: none;
}
